{% extends "index1.html" %}
{% load static %}


        {% block content %}
        
        <div class="container ">
            <div class="doorformContent">
        <form action="addDepartment" method="post" id="form">
            
                
                {% csrf_token %}
                    
                <h1>Add Department</h1><br>
                
                <lable>Name:</lable>
                <input type="text" name="Department"> <br>
                
                <input type="submit" style="margin-top:30px;margin-left:60px;" value="Save">
         

        </form>
    </div>
</div>
    {%endblock%}
    