{% extends "index1.html" %}
{% load static %}
{% comment %} <!DOCTYPE html> {% endcomment %}

{% comment %} <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
        <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script> 
    </head>
    <body> {% endcomment %}
        
        {%block content%}
        <div class="container ">
                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="userformContent">
                <form action="import_students" method="post" id="form" enctype="multipart/form-data">
            
                
                {% csrf_token %}
                    
                <h1>Add User</h1><br>
                
<!--                <lable>Name:</lable>-->
<!--                <input type="text" name="uname" required> <br>-->
                
<!--                <label style="margin-right:8px">Designation:</label>-->
<!--                <select style="margin-right:52px;" name="Designation" id="Designation" required>-->
<!--                    <option selected="selected" disabled>Select Department</option>-->
<!--                    {%for desg in desg %}-->
<!--                    -->
<!--                    <option value='{{desg.id}}'>{{desg.desg_name}}</option>-->
<!--                    {% endfor %}-->
<!--                </select><br>-->




<!--                <label style="margin-right:8px">Department:</label>-->
<!--                <select style="margin-right:52px;margin-top:6px" name="Department" id="Department" required>-->
<!--                    <option selected="selected" disabled>Select Department</option>-->
<!--                    {%for dept in dept %}-->
<!--                    -->
<!--                    <option value='{{dept.id}}'>{{dept.department_name}}</option>-->
<!--                    {% endfor %}-->
<!--                </select><br>-->


                
<!--                <lable>CardID:</lable>-->
<!--                <input style="margin-right:16px;margin-top:6px" type="text" name="cardid" required> <br>-->

                 <label >import students</label>
                    <input type="file" name="files" style="margin-top:10%;margin-left:60px">


                <input type="submit" style="margin-top:30px;margin-left:60px;" value="Save">
          

        </form>
    </div>
</div>

      {%endblock%}
    {% comment %} </body>
</html> {% endcomment %}