{% extends "index1.html" %}
{% load static %}

{% block content %}


{% comment %} <div id="content" class="p-5 p-md-5 pt-5"> {% endcomment %}
  <div class="table-responsive-xxl"> 
  <table  class="table table-striped   table-bordered">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Model</th>
      <th scope="col">Mac ID</th>
      <th scope="col">Last Seen</th>
      <th scope="col">Status</th>
      <th scope="col">Door Lock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
        {%for reader in reader%}
        <tr>
            <td>{{reader.mac}}</td>
            <td>{{reader.model}}</td>
            <td>{{reader.macID}}</td>
            <td>{{reader.lastseen}}</td>
            <td>{{reader.status}}</td>
            <td>{{reader.doorlocked}}</td>
            <td><button type="button" class="btn btn-primary">Edit</button></td> 
        </tr>
        {%endfor%}
  </tbody>




</table>
</div>
</div>

{% endblock %}
